# CM1

In [78]:
import pandas as pd
import numpy as np

## data preprocessing

### linear interpolation

In [91]:
df_iris = pd.read_csv('iris_dataset_missing.csv')
df_iris_org = df_iris.copy()
print('Table1 describing mean, standard deviation, min, max and so on in the raw data of Iris data base.')
df_iris.describe()

Table1 describing mean, standard deviation, min, max and so on in the raw data of Iris data base.

       sepal_length  sepal_width  petal_length  petal_width
count    105.000000   101.000000     97.000000   105.000000
mean       5.858909     3.059083      3.812370     1.199708
std        0.861638     0.455116      1.793489     0.787193
min        4.344007     1.946010      1.033031    -0.072203
25%        5.159145     2.768688      1.545136     0.333494
50%        5.736104     3.049459      4.276817     1.331797
75%        6.435413     3.290318      5.094427     1.817211
max        7.795561     4.409565      6.768611     2.603123

In [92]:
df_iris['sepal_width'].interpolate(method='linear', direction = 'forward', inplace=True) 
df_iris['petal_length'].interpolate(method='linear', direction = 'forward', inplace=True) 
print('Table2 describing mean, standard deviation, min, max and so on in Iris data base after intepolation to replace missed data.')
df_iris.describe()

Table2 describing mean, standard deviation, min, max and so on in Iris data base after intepolation to replace missed data.

       sepal_length  sepal_width  petal_length  petal_width
count    105.000000   105.000000    105.000000   105.000000
mean       5.858909     3.060633      3.831569     1.199708
std        0.861638     0.446819      1.766831     0.787193
min        4.344007     1.946010      1.033031    -0.072203
25%        5.159145     2.771731      1.588587     0.333494
50%        5.736104     3.051684      4.276817     1.331797
75%        6.435413     3.239682      5.098860     1.817211
max        7.795561     4.409565      6.768611     2.603123

As it is clear from table 1, we have missed data in sepal_width and petal_length. By using of linear interpolation, the missed data has been replaced.

In [93]:
df = pd.read_csv('heart_disease_missing.csv')
df_org = df.copy()
print('Table3 describing mean, standard deviation, min, max and so on in the raw data of heart disease data base.')
df.describe()

Table3 describing mean, standard deviation, min, max and so on in the raw data of heart disease data base.

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,212.000000,212.000000,212.000000,205.000000,202.000000,212.000000,207.000000,208.000000,212.000000,200.000000,210.000000,212.000000,211.000000,212.000000
mean,54.311321,0.688679,0.957547,131.784610,244.133256,0.132075,0.560386,149.647978,0.344340,1.113106,1.423810,0.731132,2.349112,0.542453
std,9.145339,0.464130,1.022537,18.057222,46.444257,0.339374,0.535149,22.076206,0.476277,1.255908,0.623622,1.038762,0.602117,0.499374
min,29.000000,0.000000,0.000000,93.944184,126.085811,0.000000,0.000000,88.032613,0.000000,-0.185668,0.000000,0.000000,0.858554,0.000000
25%,47.000000,0.000000,0.000000,119.968114,211.969594,0.000000,0.000000,135.946808,0.000000,0.050778,1.000000,0.000000,1.949795,0.000000
50%,55.000000,1.000000,1.000000,130.010256,241.467023,0.000000,1.000000,151.939216,0.000000,0.726060,1.000000,0.000000,2.078759,1.000000
75%,61.000000,1.000000,2.000000,139.965470,272.484222,0.000000,1.000000,165.260092,1.000000,1.816733,2.000000,1.000000,2.970842,1.000000
max,77.000000,1.000000,3.000000,192.020200,406.932689,1.000000,2.000000,202.138041,1.000000,6.157114,2.000000,4.000000,3.277466,1.000000

In [94]:
df['trestbps'].interpolate(method='linear', direction = 'forward', inplace=True) 
df['chol'].interpolate(method='linear', direction = 'forward', inplace=True) 
df['thalach'].interpolate(method='linear', direction = 'forward', inplace=True)
df['oldpeak'].interpolate(method='linear', direction = 'forward', inplace=True) 
df['thal'].interpolate(method='linear', direction = 'forward', inplace=True)
print('Table4 describing mean, standard deviation, min, max and so on in Iris data base after intepolation to replace missed data.')
df_iris.describe()

Table4 describing mean, standard deviation, min, max and so on in Iris data base after intepolation to replace missed data.

       sepal_length  sepal_width  petal_length  petal_width
count    105.000000   105.000000    105.000000   105.000000
mean       5.858909     3.060633      3.831569     1.199708
std        0.861638     0.446819      1.766831     0.787193
min        4.344007     1.946010      1.033031    -0.072203
25%        5.159145     2.771731      1.588587     0.333494
50%        5.736104     3.051684      4.276817     1.331797
75%        6.435413     3.239682      5.098860     1.817211
max        7.795561     4.409565      6.768611     2.603123

As it is clear from table 4, we have missed data in trestbps, chol, thalach, oldpeak, and thal. By using of linear interpolation, the missed data has been replaced.

### Normalization

In this part, we are going to see the result of minmax and zscore.

#### Minmax normalization

First, we have defined minmax as follow:

In [95]:
def minmax_scaling(a):
    xx=a
    a_std = (xx- xx.min(axis = 0)) / (xx.max(axis = 0) - xx.min(axis = 0))
    return a_std

In [96]:
mf_iris = df_iris_org.copy()
mf_iris['sepal_length']=minmax_scaling(mf_iris['sepal_length'])
mf_iris['sepal_width']=minmax_scaling(mf_iris['sepal_width'])
mf_iris['petal_length']=minmax_scaling(mf_iris['petal_length'])
mf_iris['petal_width']=minmax_scaling(mf_iris['petal_width'])
print('Table5 describing mean, standard deviation, min, max and so on in Iris data base after minmax normalization.')
mf_iris.describe()

Table5 describing mean, standard deviation, min, max and so on in Iris data base after minmax normalization.

       sepal_length  sepal_width  petal_length  petal_width
count    105.000000   101.000000     97.000000   105.000000
mean       0.438904     0.451816      0.484579     0.475423
std        0.249638     0.184740      0.312695     0.294242
min        0.000000     0.000000      0.000000     0.000000
25%        0.236165     0.333939      0.089286     0.151644
50%        0.403325     0.447909      0.565555     0.524796
75%        0.605932     0.545678      0.708106     0.706237
max        1.000000     1.000000      1.000000     1.000000

Based on table 5, the standard deviation decreased significantly. It means that the distribution of data base is between zero and one and we have suppressed big numbers in ths database. it can be considered as a noise suppression method. It is clear that minimum is fixed to zero, and maximum is fixed to 1.

In [97]:
mf=df_org.copy()
mf['age']=minmax_scaling(mf['age'])
mf['sex']=minmax_scaling(mf['sex'])
mf['trestbps']=minmax_scaling(mf['trestbps'])
mf['chol']=minmax_scaling(mf['chol'])
mf['fbs']=minmax_scaling(mf['fbs'])
mf['thalach']=minmax_scaling(mf['thalach'])
mf['exang']=minmax_scaling(mf['exang'])
mf['oldpeak']=minmax_scaling(mf['oldpeak'])
mf['ca']=minmax_scaling(mf['ca'])
mf['thal']=minmax_scaling(mf['thal'])
mf['target']=minmax_scaling(mf['target'])
print('Table6 describing mean, standard deviation, min, max and so on in heart disease data base after minmax normalization.')
mf.describe()

Table6 describing mean, standard deviation, min, max and so on in heart disease data base after minmax normalization.

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,212.000000,212.000000,212.000000,205.000000,202.000000,212.000000,207.000000,208.000000,212.000000,200.000000,210.000000,212.000000,211.000000,212.000000
mean,0.527319,0.688679,0.957547,0.385828,0.420327,0.132075,0.560386,0.539986,0.344340,0.204764,1.423810,0.182783,0.616210,0.542453
std,0.190528,0.464130,1.022537,0.184115,0.165372,0.339374,0.535149,0.193472,0.476277,0.198006,0.623622,0.259690,0.248921,0.499374
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.375000,0.000000,0.000000,0.265344,0.305803,0.000000,0.000000,0.419912,0.000000,0.037278,1.000000,0.000000,0.451129,0.000000
50%,0.541667,1.000000,1.000000,0.367736,0.410833,0.000000,1.000000,0.560066,0.000000,0.143743,1.000000,0.000000,0.504444,1.000000
75%,0.666667,1.000000,2.000000,0.469241,0.521275,0.000000,1.000000,0.676808,1.000000,0.315698,2.000000,0.250000,0.873239,1.000000
max,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000

Based on table 6, the standard deviation decreased significantly. It means that the distribution of data base is between zero and one and we have suppressed big numbers in ths database. it can be considered as a noise suppression method. It is clear that minimum is fixed to zero, and maximum is fixed to 1.

#### Zscore

First, we need to describe zscore function. It can be described as follow:

In [98]:
def zscore(a):
    xx=a
    a_std = (xx- np.mean(xx)) / (np.std(xx))
    return a_std

In [99]:
zf_iris=df_iris_org.copy()
zf_iris['sepal_length']=zscore(zf_iris['sepal_length'])
zf_iris['sepal_width']=zscore(zf_iris['sepal_width'])
zf_iris['petal_length']=zscore(zf_iris['petal_length'])
zf_iris['petal_width']=zscore(zf_iris['petal_width'])
print('Table7 describing mean, standard deviation, min, max and so on in Iris data base after zscore normalization.')
zf_iris.describe()

Table7 describing mean, standard deviation, min, max and so on in Iris data base after zscore normalization.

       sepal_length   sepal_width  petal_length   petal_width
count  1.050000e+02  1.010000e+02  9.700000e+01  1.050000e+02
mean   1.611409e-15 -2.940511e-15  6.638447e-17  1.543739e-16
std    1.004796e+00  1.004988e+00  1.005195e+00  1.004796e+00
min   -1.766598e+00 -2.457887e+00 -1.557733e+00 -1.623505e+00
25%   -8.160275e-01 -6.412505e-01 -1.270714e+00 -1.105662e+00
50%   -1.432080e-01 -2.125199e-02  2.603082e-01  1.686022e-01
75%    6.722882e-01  5.106125e-01  7.185533e-01  7.881990e-01
max    2.258421e+00  2.982133e+00  1.656881e+00  1.791360e+00

Based on table 7, the mean of databased is almost zero and standard deviation is 1. It is a kind of noise suppersion.

In [101]:
zf=df_org.copy()
zf['age']=minmax_scaling(zf['age'])
zf['sex']=minmax_scaling(zf['sex'])
zf['trestbps']=minmax_scaling(zf['trestbps'])
zf['chol']=minmax_scaling(zf['chol'])
zf['fbs']=minmax_scaling(zf['fbs'])
zf['thalach']=minmax_scaling(zf['thalach'])
zf['exang']=minmax_scaling(zf['exang'])
zf['oldpeak']=minmax_scaling(zf['oldpeak'])
zf['ca']=minmax_scaling(zf['ca'])
zf['thal']=minmax_scaling(zf['thal'])
zf['target']=minmax_scaling(zf['target'])
print('Table8 describing mean, standard deviation, min, max and so on in heart disease data base after zscore normalization.')
mf.describe()

Table8 describing mean, standard deviation, min, max and so on in heart disease data base after zscore normalization.

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,212.000000,212.000000,212.000000,205.000000,202.000000,212.000000,207.000000,208.000000,212.000000,200.000000,210.000000,212.000000,211.000000,212.000000
mean,0.527319,0.688679,0.957547,0.385828,0.420327,0.132075,0.560386,0.539986,0.344340,0.204764,1.423810,0.182783,0.616210,0.542453
std,0.190528,0.464130,1.022537,0.184115,0.165372,0.339374,0.535149,0.193472,0.476277,0.198006,0.623622,0.259690,0.248921,0.499374
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.375000,0.000000,0.000000,0.265344,0.305803,0.000000,0.000000,0.419912,0.000000,0.037278,1.000000,0.000000,0.451129,0.000000
50%,0.541667,1.000000,1.000000,0.367736,0.410833,0.000000,1.000000,0.560066,0.000000,0.143743,1.000000,0.000000,0.504444,1.000000
75%,0.666667,1.000000,2.000000,0.469241,0.521275,0.000000,1.000000,0.676808,1.000000,0.315698,2.000000,0.250000,0.873239,1.000000
max,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000

Based on table 8, the mean of databased is almost zero and standard deviation is 1. It is a kind of noise suppersion.

## Refrences: 
https://www.w3resource.com/python-exercises/pandas/missing-values/python-pandas-missing-values-exercise-15.php
https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html
https://stackoverflow.com/questions/29156653/ipython-jupyter-problems-saving-notebook-as-pdf